{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css//login.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="text-center">Vaca-Meet</h1> 
                <div class="card">
                    <div class="card-body" >
                        {{ form_start(loginForm, {'attr': {'class': 'form-group'}}) }}
                            <div class="form-group" >
                                {{ form_label(loginForm.email) }}
                                {{ form_widget(loginForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(loginForm.password) }}
                                {{ form_widget(loginForm.password, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group mt-3">
                                {{ form_widget(loginForm.login, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        {{ form_end(loginForm) }}

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <p>Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}